// Variables
// **********


// FONT FAMILY VARIABLES

$source_sans_pro_fontfam: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$oswald_font_fam: 'Oswald', Helvetica, Arial, sans-serif;

// Colour Vairables

$darkred: #990000;
$grey: slate;
$lowopacitygrey: rgba(211, 211, 211, .7)
